nav.navbar
    ul.nav-items.container
        li.nav-logo
            a.nav-link(href="") Uptask   
        li.nav-item
            a.nav-link(href="") Home 
        li.nav-item
            a.nav-link(href="") Logout 
        

