aside
    .panel
        section.new-project
            a.btn-primary(href="/projects") New Project
        section.projects
            h2 Your Projects
            ul.projects-list
                li.project 
                    a(href="") Nuevo proyecto
                li.project 
                    a(href="") Nuevo proyecto
                li.project 
                    a(href="") Nuevo proyecto